<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form>
<!--    private Category category;-->
<!--    private String name;-->
    <label for="name">Name:</label>
    <input id="name">
<!--    private String description;-->
    <label for="description">Description:</label>
    <input id="description">
<!--    private String productDetail;-->
    <label for="productDetail">Product detail:</label>
    <input id="productDetail">
<!--    private Integer stock;-->
    <label for="stock">Stock:</label>
    <input type="number" id="stock">
<!--    private Double price;-->
    <label for="price">Stock:</label>
    <input type="" id="price">
<!--    private String imageUrl;-->
    <label for="imageUrl">Stock:</label>
    <input id="imageUrl">
  </form>
</body>
</html>