nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(111, 79, 31, 0.8);
    color: white;
    padding: 1.5rem;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
}

nav>*{
    margin: 0;
    padding: 0;
    align-content: center;
}

nav > div {
    flex: 3;
}
nav>h1{
    flex:4;
    font-style: italic;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

nav a:hover, .active {
    color: #ffeb3b;
}

body {
    padding-top: 80px;
}
