main {
    margin: 0;
    padding: 0;
}

body {
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.categories {
    margin: 0;
    padding: 0;
    min-height: 100vh
}

.category {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.right, .left {
    position: relative;
    flex: 1;
    display: flex;
    height: 100vh;
    align-items: center;
    z-index: 10;
}

.left {
    justify-content: flex-end;
}

.right > a, .left > a {
    margin: 0.5rem;
    transform: translateY(-50%);
    height: fit-content;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem 1rem;
    border-radius: 5px;
    background-color: #000000;
    opacity: 0.7;
    position: fixed;
}

.right > a:hover, .left > a:hover {
    background-color: #444444;
    color: #ffffff;
    opacity: 1;
    transform: scale(1.1) translateY(-50%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.products {
    flex: 8;
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation-duration: 1s;
    animation-fill-mode: forwards;
    width: 100%;
    will-change: transform;
}

.products.slide-left {
    animation-name: slideInLeft;
}

.products.slide-right {
    animation-name: slideInRight;
}

.products.slide-down {
    animation-name: slideDown;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    height: 8rem;
}

.product > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.product > ul > li {
    height: 100%;
}

.product:not(:first-of-type) {
    margin-top: 2rem;
}

.product {
    padding-bottom: 2rem;
}

.product .description {
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product .description h2 {
    margin-top: 0;
}

.product .description ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product .image-container {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.product .image-container .product-link {
    height: 100%;
    width: 70%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product .image-container .product-link:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product .image-container .product-link img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.product .price {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.product .price::after {
    content: " €";
    margin-left: 0.2rem;
}

dialog {
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 1s ease;
    transform-origin: center center;
    overflow: hidden;
    padding: 0;
    border-radius: 0.5rem;
}

dialog.show {
    width: 80%;
    height: 80%;
    opacity: 1;
    transform: scale(1);
}

dialog.hide {
    width: 0;
    height: 0;
    opacity: 0;
    transform: scale(0);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    display: block;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}