<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
</head>
<body>
<header>
    <nav th:replace="~{fragments/nav :: nav(${title})}"></nav>
</header>
<main>
    <div class="categories">
        <a th:each="category : ${categories}" class="category"  th:href="@{/products/{categoryId}(categoryId=${category.id})}">
            <ul>
                <li th:text="${category.name}"></li>
                <li class="image-container">
                    <img th:src="@{${category.imageUrl}}" th:alt="${category.name}">
                </li>
                <li th:text="${category.description}"></li>
            </ul>
        </a>
    </div>
</main>

</body>
</html>