<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" href="css/categories.css">
    <link rel="stylesheet" href="css/nav.css">
</head>
<body>
<header>
    <nav th:replace="~{nav.html}"></nav>
</header>
<main>
    <div class="categories">
        <div th:each="category : ${categories}" class="category">
            <ul>
                <li th:text="${category.name}"></li>
                <li class="image-container">
                    <a th:href="@{/products(categoryId=${category.id})}">
                        <img th:src="${category.imageUrl}" th:alt="${category.name}">
                    </a>
                </li>
                <li th:text="${category.description}"></li>
            </ul>
        </div>
    </div>
</main>

</body>
</html>