<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="css/products/products.css">
    <link rel="stylesheet" th:if="${categoryName == 'Coffees'}" th:href="@{/css/products/coffees.css}" />
    <link rel="stylesheet" th:if="${categoryName == 'Teas'}" th:href="@{/css/products/teas.css}" />
    <link rel="stylesheet" th:if="${categoryName == 'Cocktails'}" th:href="@{/css/products/cocktails.css}" />
    <link rel="stylesheet" href="css/nav.css">
</head>
<body>
<header>
    <nav th:replace="~{nav.html}"></nav>
</header>
<main>
    <div class="products">
        <div th:each="product:${products}" class="product">
            <ul>
                <li class="description">
                    <ul>
                        <li>
                            <h2 th:text="${product.name}"></h2>
                        </li>
                        <li th:text="${product.description}"></li>
                    </ul>
                </li>
                <li class="image-container">
                    <img th:src="${product.imageUrl}" th:alt="${product.name}">
                </li>
                <li th:text="${product.price}" class="price"></li>
            </ul>
        </div>
    </div>
</main>
</body>
</html>