<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/category.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <link rel="stylesheet" th:href="@{/css/product-detail.css}">
    <script src="https://kit.fontawesome.com/bf3751b51f.js" crossorigin="anonymous"></script>
</head>
<body th:class="|body${title}|">

<main>
    <div th:class="|${title} products|">
        <div th:class="header">
            <p th:text="${product.name}"></p>
            <button id="close-dialog">X</button>
        </div>
        <p th:text="${product.description}" th:class="description"></p>
        <div th:class="picture-detail">
            <img th:alt="${product.name}" th:src="${product.imageUrl}">
            <p th:text="${product.price}" th:class="price"></p>
        </div>
        <p th:text="${product.productDetail}" th:class="detail"></p>
        <div class="rating" th:if="${avg>=0}">
            <div th:class="stars-container" >
                <div id="empty-stars" >
                    <i th:each="star:${#numbers.sequence(1,5)}"
                       class="fa-solid fa-star fa-2xl"></i>
                </div>
                <div id="filled-stars" th:rating="${avg}">
                    <i th:each="star:${#numbers.sequence(1,5)}"
                       class="fa-solid fa-star fa-2xl"></i>
                </div>
            </div>
            <p th:text="${avg}" id="avg"></p>
        </div>
        <div th:if="${avg<0}">
            <p class="unrated">There is no rating for this product</p>
        </div>
    </div>
</main>
<script th:src="@{/js/product-detail.js}"></script>
</body>
</html>