<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products Category</title>
</head>
<body>

<main>
    <div id="categories" th:each="category : ${categories}">
        <ul class="product-Category">
            <li th:text="${category.name}"></li>
            <li th:text="${category.description}"></li>
            <li>
                <img th:src="${category.image}" th:alt="${category.name}">
            </li>
        </ul>
    </div>
</main>

</body>
</html>