<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/category.css}">
    <link rel="stylesheet" th:href="@{/css/product-detail.css}">
</head>
<body th:class="|body${title}|">

<main>
    <div th:class="|${title} product|">
        <div th:class="header">
            <div th:class="title">
                <h1 th:text="${product.name}"></h1>
                <button type="button" th:class="btnAdd" th:data-productId="${product.id}">Add</button>
            </div>
            <button id="close-dialog">X</button>
        </div>
        <div th:class="product-rating">
            <div th:class="general">
                <p th:text="${product.description}" th:class="description"></p>
                <div th:class="picture-price">
                    <img th:alt="${product.name}" th:src="${product.imageUrl}">
                    <div th:class="price-button">
                        <p th:text="${#numbers.formatDecimal(product.price,1,2,'POINT')}" th:class="price"></p>
                    </div>
                </div>
                <p th:text="${product.productDetail}" th:class="detail"></p>
            </div>
            <iframe th:src="@{/rating(productId=${product.id})}" th:class="rating"></iframe>

        </div>
    </div>


</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/js/product-detail.js}"></script>
<script th:src="@{/js/addToCart.js}"></script>
</body>
</html>