<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <link rel="stylesheet" th:href="@{/css/category.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <script src="https://kit.fontawesome.com/bf3751b51f.js" crossorigin="anonymous"></script>

</head>
<body th:class="|body${title.split(' ')[0]}|">
<header>
    <nav th:replace="~{nav :: nav(${title})}"></nav>
</header>
<main>
    <div class="categories">

        <div th:each="category:${categories}" th:class="category">
            <div class="left" th:if="${title}!= 'All Products'">
                <a th:href="@{/products(categoryId=${previousCategoryId},direction='slide-left')}">&lt;</a>
            </div>
            <div th:class="|${category.name} products ${direction}|">
                <div th:each="product:${products}" th:if="${product.category.id}==${category.id}"
                     th:class="|${product.name} product|">
                    <ul>
                        <li class="description">
                            <ul>
                                <li>
                                    <h2 th:text="${product.name}"></h2>
                                </li>
                                <li th:text="${product.description}"></li>
                            </ul>
                        </li>
                        <li class="image-container">
                            <div class="product-link" th:data-iframe-src="${product.getId()}">
                                <img th:src="@{${product.imageUrl}}" th:alt="${product.name}">
                            </div>
                        </li>
                        <li th:class="price-button">
                            <p th:text="${#numbers.formatDecimal(product.price,1,2,'POINT')}" th:class="price"></p>
                            <button type="button" th:class="btnAdd" th:data-productId="${product.id}">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right" th:if="${title}!= 'All Products'">
                <a th:href="@{/products(categoryId=${nextCategoryId},direction='slide-right')}">&gt;</a>
            </div>
        </div>
    </div>
    <dialog id="product-dialog">
        <iframe id="product-iframe" th:url="@{/product-detail}"></iframe>
    </dialog>

</main>
<script th:replace="~{fragments::scripts}"></script>
<script th:src="@{/js/products-iframe.js}"></script>
</body>
</html>