<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <link rel="stylesheet" th:href="@{/css/category.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
</head>
<body th:class="|body${title.split(' ')[0]}|">
<header>
    <nav th:replace="~{nav :: nav(${title})}"></nav>
</header>
<main>
    <div class="categories">

        <div th:each="category:${categories}" th:class="category">
            <div class="left" th:if="${title}!= 'All Products'">
                <a th:href="@{/products(categoryId=${previousCategoryId},direction='slide-left')}">&lt;</a>
            </div>
            <div th:class="|${category.name} products ${direction}|">
                <div th:each="product:${products}" th:if="${product.category.id}==${category.id}"
                     th:class="|${product.name} product|">
                    <ul>
                        <li class="description">
                            <ul>
                                <li>
                                    <h2 th:text="${product.name}"></h2>
                                </li>
                                <li th:text="${product.description}"></li>
                            </ul>
                        </li>
                        <li class="image-container">
<!--                            <a th:href="@{/product-detail(productId=${product.getId()})}">-->
                            <div  class="product-link" th:data-iframe-src="${product.getId()}">
                                <img th:src="${product.imageUrl}" th:alt="${product.name}">
                            </div>
                        </li>
                        <li th:text="${product.price}" class="price"></li>
                    </ul>
                </div>
            </div>
            <div class="right" th:if="${title}!= 'All Products'">
                <a th:href="@{/products(categoryId=${nextCategoryId},direction='slide-right')}">&gt;</a>
            </div>
        </div>
    </div>
    <dialog id="product-dialog">
        <iframe id="product-iframe" th:url="@{/product-detail}"></iframe>
    </dialog>
</main>
<script th:src="@{/js/products-iframe.js}"></script>
</body>
</html>