<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:title="${title}"></title>
    <script src="https://kit.fontawesome.com/bf3751b51f.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="rating" th:if="${avg>=0}">
        <div th:class="stars-container" >
            <div id="empty-stars" >
                <i th:each="star:${#numbers.sequence(1,5)}"
                   class="fa-solid fa-star fa-2xl"></i>
            </div>
            <div id="filled-stars" th:rating="${avg}">
                <i th:each="star:${#numbers.sequence(1,5)}"
                   class="fa-solid fa-star fa-2xl"></i>
            </div>
        </div>
        <p th:text="${avg}" id="avg"></p>
    </div>
    <div th:if="${avg<0}">
        <p class="unrated">There is no rating for this product</p>
    </div>
</header>
</body>
</html>